
.jeton-poker-global { 
    position: fixed; 
    z-index: 9995; 
    pointer-events: none; 
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    will-change: transform; 
}

@keyframes animationChuteGlobale {
    0% { transform: translateY(0) rotate(0deg); opacity: 0.9; }
    100% { transform: translateY(110vh) rotate(720deg); opacity: 0; }
}

/*traînée du curseur */
.carte-souris-globale { 
    position: fixed; 
    pointer-events: none; 
    z-index: 9998; 
    font-size: 24px;
    color: #b6231b; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    will-change: transform, opacity;
}

@keyframes flottementCarteGlobal {
    0% { transform: translate(-50%, -50%) rotate(0deg); opacity: 1; }
    100% { transform: translate(var(--depX), var(--depY)) rotate(var(--rotFin)); opacity: 0; }
}